<div class="sidebar">
    <a href="{% url 'home' %}" class="sidebar-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
        <i class="fas fa-cloud-upload-alt sidebar-icon"></i>
        Upload Files
    </a>
    <a href="{% url 'file_list' %}" class="sidebar-item {% if request.resolver_match.url_name == 'file_list' %}active{% endif %}">
        <i class="fas fa-folder sidebar-icon"></i>
        Files
    </a>
    <a href="{% url 'settings' %}" class="sidebar-item {% if request.resolver_match.url_name == 'settings' %}active{% endif %}">
        <i class="fas fa-cog sidebar-icon"></i>
        Settings
    </a>
</div>
