<div class="sidebar">
    <a href="{% url 'home' %}" class="sidebar-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
        <i class="fas fa-cloud-upload-alt sidebar-icon"></i>
        Upload Files
    </a>
    <a href="{% url 'files' %}" class="sidebar-item {% if request.resolver_match.url_name == 'files' %}active{% endif %}">
        <i class="fas fa-folder sidebar-icon"></i>
        Files
    </a>
    <a href="{% url 'gemini' %}" class="sidebar-item {% if request.resolver_match.url_name == 'gemini' %}active{% endif %}">
        <i class="fas fa-magic sidebar-icon"></i>
        Gemini
    </a>
    <a href="{% url 'settings' %}" class="sidebar-item {% if request.resolver_match.url_name == 'settings' %}active{% endif %}">
        <i class="fas fa-cog sidebar-icon"></i>
        Settings
    </a>
</div>
